.root {
    -fx-effect: dropshadow(three-pass-box, #303030, 10, 0, 4, 4);
    -fx-background-color: #085394;
}

#title-bar {
    -fx-background-color: rgba(255,255,255,0.75);
}

.button:hover {
    -fx-cursor: hand;
}

.title-button {
    -fx-background-color: transparent;
    -jfx-disable-visual-focus: true;
    -fx-padding: 4;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.title-button:hover {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-cursor: hand;
}

.close-icon {
    -glyph-size: 30px;
    -fx-text-fill: red;
    -fx-fill: red;
}

.minimize-icon {
    -glyph-size: 30px;
    -fx-text-fill: #303030;
    -fx-fill: #303030;
}

.label {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
}

.jfx-text-field, .jfx-password-field {
    -jfx-focus-color: white;
    -jfx-unfocus-color: #b5b5b5;
    -fx-prompt-text-fill: #cfcfcf;
    -fx-font-size: 1.5em;
    -fx-text-fill: white;

    -fx-indent: 50;
    -fx-background-radius: 0;
}

.green-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.green-button:hover {
    -fx-background-color: #0d9900;
}

.orange-button {
    -fx-text-fill: white;
    -fx-background-color: orange
}

.orange-button:hover {
    -fx-background-color: #FF9004;
}
