.root {
    -fx-background-color: #085394;
}

#title-bar {
    -fx-background-color: rgba(255,255,255,0.75);
}

.button:hover {
    -fx-cursor: hand;
}

.title-button {
    -fx-background-color: transparent;
    -jfx-disable-visual-focus: true;
    -fx-padding: 4;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.title-button:hover {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-cursor: hand;
}

.close-icon {
    -glyph-size: 30px;
    -fx-text-fill: red;
    -fx-fill: red;
}

.minimize-icon {
    -glyph-size: 30px;
    -fx-text-fill: #303030;
    -fx-fill: #303030;
}

.label {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
}

.configuration-subtitle {
    -fx-text-fill: #c7c7c7;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-family: Arial;
    -jfx-focus-color: white;
    -jfx-unfocus-color: #b5b5b5;
    -fx-prompt-text-fill: rgba(230, 230, 230, 0.4);
    -fx-font-size: 1.5em;
    -fx-text-fill: #e3e3e3;
}

#label-credentials {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #c8dfe0;
}

#label-credentials:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.green-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.green-button:hover {
    -fx-background-color: #0d9900;
}

.orange-button {
    -fx-text-fill: white;
    -fx-background-color: orange
}

.orange-button:hover {
    -fx-background-color: #FF9004;
}
