.root, .content {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-font-family: "Verdana";
    -fx-text-fill: #303030;
}

.configuration-subtitle {
    -fx-text-fill: #414141;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-family: Arial;
    -jfx-focus-color: #a2a2a2;
    -jfx-unfocus-color: #848484;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.4);
    -fx-font-size: 1.7em;
    -fx-text-fill: #575757;
}

#label-credentials {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #3d8718;
}

#label-credentials:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.green-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.green-button:hover {
    -fx-background-color: #0d9900;
}

.orange-button {
    -fx-text-fill: white;
    -fx-background-color: orange
}

.orange-button:hover {
    -fx-background-color: #FF9004;
}
