.root, .content {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-font-family: "Verdana";
    -fx-text-fill: #303030;
}

.configuration-subtitle {
    -fx-text-fill: #414141;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area, .jfx-combo-box .list-cell {
    -fx-font-family: Arial;
    -jfx-focus-color: #a2a2a2;
    -jfx-unfocus-color: #848484;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.4);
    -fx-font-size: 1.7em;
    -fx-text-fill: #575757;
}

.jfx-combo-box {
    -jfx-focus-color: #a2a2a2;
    -jfx-unfocus-color: #848484;
}

.jfx-combo-box .list-cell:hover {
    -fx-background-color: #cfd0cf;
    -fx-cursor: hand;
}

.jfx-combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #b7b8b7;
}

.jfx-text-area .content{
    -fx-background-color: rgba(0,0,0,0.02);
    -fx-padding: 0 0 5 0;
}

.jfx-text-area .content:hover {
    -fx-background-color: rgba(0,0,0,0.04);
}


#label-credentials {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #3d8718;
}

#label-credentials:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.green-button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.green-button:hover {
    -fx-background-color: #0d9900;
}

.orange-button {
    -fx-text-fill: white;
    -fx-background-color: orange
}

.orange-button:hover {
    -fx-background-color: #FF9004;
}
