*{
    -theme-color-blue1: #085394;
    -theme-color-blue2: #084889;
    -theme-color-blue3: #025c99;
    -theme-color-green1: #32a852;
    -theme-color-green2: #07de41;
    -theme-color-red1: #e32a05;
    -theme-color-red2: #d42b05;
    -theme-color-green3: #329B4D;
    -theme-color-green4: #07CE40;
    -theme-color-orange1: #eeaa06;
    -theme-color-orange2: #e39f06;
    -theme-color-gray1: #a2a2a2;
    -theme-color-gray2: #848484;
    -theme-color-gray3: #575757;
    -theme-background: #f4f4f4;
}

.jfx-button {
    -fx-text-fill: -theme-background;
}

.button:hover {
    -fx-cursor: hand;
}

#application-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.title-button {
    -fx-background-color: transparent;
    -jfx-disable-visual-focus: true;
    -fx-padding: 4;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.title-button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-cursor: hand;
}

.close-icon {
    -glyph-size: 30px;
    -fx-text-fill: -theme-color-red1;
    -fx-fill: -theme-color-red1;
}

.minimize-icon {
    -glyph-size: 30px;
    -fx-text-fill: -theme-background;
    -fx-fill: -theme-background;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .headers-region  {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.tab-pane .tab-header-background, .tab-pane .tab-header-area {
    -fx-background-color: -theme-color-blue1;
}

.tab{
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
}

.tab *.tab-label {
    -fx-rotate: 90;
}

.tab:hover {
    -fx-cursor: hand;
    -fx-background-color: -theme-color-blue2;
}

.tab-icon {
    -glyph-size: 25px;
    -fx-text-fill: -theme-background;
    -fx-fill: -theme-background;
}

.tab:selected {
    -fx-background-color: -theme-background;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -theme-background;
    -fx-cursor: default;
}

.tab:selected .tab-pane-label {
    -fx-text-fill: -theme-color-blue1;
}

.tab:selected .tab-icon {
    -fx-text-fill: -theme-color-blue1;
    -fx-fill: -theme-color-blue1;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane-label {
    -fx-text-fill: -theme-background;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-indent: 20px;
}

.tab-content-area {
    -fx-background-color: -theme-background;
}

.dashboard-tab-upcoming-box {
    -fx-border-width: 0 1 1 0;
    -fx-border-color: -theme-color-blue1;
}

.dashboard-tab-upcoming-box .value-label{
    -fx-text-fill: -theme-color-blue3;
}

.dashboard-tab-upcoming-box .jfx-button {
    -fx-background-color: -theme-color-blue3;
}

.dashboard-tab-upcoming-box .jfx-button:hover {
    -fx-background-color: -theme-color-blue2;
}


.dashboard-tab-unconfirmed-box .value-label{
    -fx-text-fill: -theme-color-red1;
}

.dashboard-tab-unconfirmed-box .jfx-button{
    -fx-background-color: -theme-color-red1;
}

.dashboard-tab-unconfirmed-box .jfx-button:hover {
    -fx-background-color: -theme-color-red2;
}

.dashboard-tab-unconfirmed-box .jfx-progress-bar > .bar {
    -fx-background-color: -theme-color-red1;
}

.dashboard-tab-completed-box .value-label{
    -fx-text-fill: -theme-color-green1;
}
.dashboard-tab-completed-box .jfx-button{
    -fx-background-color: -theme-color-green1;
}

.dashboard-tab-completed-box .jfx-button:hover {
    -fx-background-color: -theme-color-green3;
}

.dashboard-tab-earnings-box {
    -fx-border-width: 1 0 0 1;
    -fx-border-color: -theme-color-blue1;
}

.dashboard-tab-earnings-box .value-label{
    -fx-text-fill: -theme-color-green2;
}

.dashboard-tab-earnings-box .jfx-button{
    -fx-background-color: -theme-color-green2;
}

.dashboard-tab-earnings-box .jfx-button:hover {
    -fx-background-color: -theme-color-green4;
}

.appointment-tab .jfx-text-field {
    -fx-prompt-text-fill: rgba(0,0,0,0.3);
    -fx-text-fill: #303030;
}

.appointment-tab .jfx-combo-box .list-cell{
    -fx-font-size: 15px;
}

.appointment-tab .jfx-combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: black;
}

.appointment-tab .jfx-combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: black;
}

.appointment-tab .jfx-combo-box:hover, .appointment-tab .jfx-combo-box .list-cell:hover {
    -fx-cursor: hand;
}

.blue-check-box {
    -jfx-checked-color: -theme-color-blue1;
}

.blue-check-box:hover {
    -fx-cursor: hand;
}

.blue-button {
    -fx-background-color: -theme-color-blue1;
}

.blue-button:hover {
    -fx-background-color: -theme-color-blue2;
}

.green-button {
    -fx-background-color: -theme-color-green1;
}

.green-button:hover {
    -fx-background-color: -theme-color-green3;
}

.orange-button {
    -fx-background-color: -theme-color-orange1;
}

.orange-button:hover {
    -fx-background-color: -theme-color-orange2;
}

.red-button {
    -fx-background-color: -theme-color-red1;
}

.red-button:hover {
    -fx-background-color: -theme-color-red2;
}

.tree-table-view .column-header {
    -fx-border-width: 0 1.5 0 0;
    -fx-border-color: #aeaeae;
    -fx-font-size: 15px;
}

.tree-table-view .column-header .label {
    -fx-text-fill: #828282;
}

.tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-alignment: center;
}

.tree-table-view:focused .tree-table-row-cell:selected, .tree-table-view:focused .tree-table-row-cell:visited {
    -fx-background-color: rgba(82, 100, 174, 0.4);
    -fx-cursor: default;
}

.tree-table-row-cell:filled:even {
    -fx-background-color: #f3f3f3;
}

.tree-table-row-cell {
    -fx-font-size: 14px;
}

.tree-table-row-cell:filled:hover {
    -fx-background-color: #cdcdcd;
    -fx-cursor: hand;
}

.chart {
    -fx-padding: 10px;
}

.chart-title {
    -fx-font-size: 2em;
}

.axis-label {
    -fx-font-size: 1.5em;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.default-color0.chart-series-line { -fx-stroke: #006ecf; }
.default-color0.chart-pie { -fx-pie-color: #006ecf; }
.default-color1.chart-pie { -fx-pie-color: #3086d1; }
.default-color2.chart-pie { -fx-pie-color: #5195cf; }
.default-color3.chart-pie { -fx-pie-color: #649ccc; }
.default-color4.chart-pie { -fx-pie-color: #81a8c9; }

.chart-pie-label {
    -fx-font-size: 1.4em;
}

.chart-legend {
    -fx-font-size: 1.2em;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(50,120,250, 0.4);
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(50,120,250, 0.4);
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.button-icon {
    -glyph-size: 22px;
    -fx-text-fill: white;
    -fx-fill: white;
}

.settings-tab .jfx-text-field, .jfx-password-field, .jfx-text-area {
    -fx-font-family: Arial;
    -jfx-focus-color: -theme-color-gray1;
    -jfx-unfocus-color: -theme-color-gray2;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.4);
    -fx-font-size: 1.7em;
    -fx-text-fill: -theme-color-gray3;
}